@import '../base/typography';

.gallery{
    background-color: $tertiary-col ;
    padding: 2rem;
    height: 350px;
.about h1{
    color: rgba(230, 230, 230, 1);
}
.about p{
    color: rgba(139, 145, 152, 1);
}

}


.imgs{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    overflow: hidden;
    img{
        width: 100px;
        height: 100px;
        border-radius: 1rem;
    }
    .img-g{
        border-radius: 2rem;
        object-fit: cover;
    }
}