@import '../base/typography';

.gallery{
    background-color: $tertiary-col ;
    // padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 7rem;
    // height: 350px;
.about h1{
    color: rgba(230, 230, 230, 1);
}
.about p{
    color: rgba(139, 145, 152, 1);
}

}
.img-gallery{
    padding-top: 3rem;
}

.imgs{
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    overflow: hidden;
    img{
        width: 100px;
        height: 100px;
        border-radius: 1rem;
    }
    .img-g{
        border-radius: 2rem;
        object-fit: cover;
    }
}