@import '../base/typography';
.hero-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
    padding: 2rem;
    background-color: $tertiary-col;
    font-size: 2rem;
    .hero-1{
        display: flex;
        gap: 1rem;
    }
    .hero-1 img{
        height: 5rem;
        width: 5rem;
    }
    .hero-1{
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .hero-1 h3{
        font-size: 2rem;
        color: white;
    }
    .hero-1 i{
        font-size: 5rem;
    }
    .hero-1 p{
        font-size: 1.4rem;
        color: rgba(139, 145, 152, 1);

    }
    
}